<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cody Richter: Root Navigation</title>

    {% load static %}
    <link rel="stylesheet" href='{% static 'material/material.min.css' %}'>
    <script src='{% static 'material/material.min.js' %}'></script>
    <link rel="stylesheet" href='{% static 'material/material-icons.css' %}'>
</head>

<body>

<div class="mdl-layout mdl-js-layout">
    {% include '_header.html' %}
    <main class="mdl-layout__content">
        <br>
        <br>
        <br>
        <h1>User Account Information Coming Soon</h1>
    </main>
    {% include '_footer.html' %}
</div>
</body>
</html>