{% extends 'base.html' %}

{% block title %}Account{% endblock title %}

{% block content %}

<div class="container text-center">
    <div class="card-deck">
        <div class="card col-sm">
            <h5 class="card-header mt-3">Update Preferences</h5>
            <div class="card-body text-muted">
                Coming soon...
            </div>
        </div>

        <div class="card col-sm">
            <h5 class="card-header mt-3">Account Security</h5>
            <div class="card-body text-center">
                <a class="btn btn-large btn-primary" href="{% url 'password_change' %}">
                    Change Password
                </a>
            </div>
        </div>

        <div class="card col-sm">
            <h5 class="card-header mt-3">Account History</h5>
            <div class="card-body text-center">
                <a class="btn btn-large btn-primary" href="{% url 'interactions' user.id %}">
                    View Interactions
                </a>
            </div>
        </div>

    </div>
    <h2 class="lead mt-5">Your Username:</h2>
    <h3 class="">{{ user.username }}</h3>

    <h2 class="lead mt-5">Your Email Address:</h2>
    <h3 class="">{{ user.email }}</h3>

</div>
{% endblock content %}