{% extends 'base.html' %}

{% block title %}Interactions{% endblock title %}

{% block content %}


    <div class="container text-center">

        <h3>Hello {{ user.username }}</h3>
        <h4>Let's take a look at what you've accomplished!</h4>

        <hr class="mb-4">
        <table class="border-0 table">
        {% for inter in interaction_list %}
            <tr>
                <td>
                    {{ inter.timestamp }}
                </td>

                <td>
                    {{ inter.title }}
                </td>

                <td>
                    {{ inter.description }}
                </td>
            </tr>
        {% endfor %}
        </table>


    </div>

{% endblock content %}