<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    {% if user.is_authenticated %}
        <meta http-equiv="REFRESH" content="0;url=/">
    {% endif %}

    {% load static %}
    <link rel="stylesheet" href='{% static 'material/material.min.css' %}'>
    <script src='{% static 'material/material.min.js' %}'></script>
    <link rel="stylesheet" href='{% static 'material/material-icons.css' %}'>
    <link rel="stylesheet" href='{% static 'page/styles.css' %}'>
</head>

<body>

<div class="mdl-layout mdl-js-layout">
    {% include '_header.html' %}
    <main class="mdl-layout__content">
        <br>
        <br>
        <br>
        <div class="mdl-grid" style="text-align: center">
            <div class="mdl-cell mdl-cell--12-col" style="display: inline-block">
            </div>

            <div class="mdl-cell mdl-cell--4-col">

            </div>
            <div class="mdl-cell mdl-cell--4-col" style="padding-top: 15vh">

                <div class="mdl-card mdl-shadow--2dp" style="display: inline-block; border-radius: 1em;">
                    <div class="mdl-card__title mdl-card--expand" style="display: inline-block">
                        <h2 class="mdl-card__title-text">Sign In</h2>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <form method="post" class="text-content">
                            {% csrf_token %}
                            <input class="mdl-textfield__input" id="inputEmail" name="username" placeholder="Username"
                                   required>
                            <br>
                            <input class="mdl-textfield__input" type="password" name="password" id="inputPass"
                                   placeholder="Password"
                                   required>
                            <br>
                            <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Login</button>

                            <div class="form-error">
                                {% if form.errors %}
                                    Incorrect username or password.
                                {% endif %}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="mdl-cell mdl-cell--4-col">

            </div>

            <div class="mdl-cell mdl-cell--4-col">

            </div>
            <div class="mdl-cell mdl-cell--4-col">

            </div>
            <div class="mdl-cell mdl-cell--4-col">

            </div>

        </div>
    </main>
    {% include '_footer.html' %}
</div>
</body>
</html>