{% extends 'base.html' %}

{% block title %}Login{% endblock title %}
{% block content %}

    <div class="text-center justify-content-center container" style="max-width: 970px;">
        <div class="container">
            <form class="form-signin" method="post">
                {% csrf_token %}
                <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
                <h1 class="h3 mb-3 font-weight-normal">Sign In</h1>
                <input type="text"  class="form-control mt-3 mb-3" id="inputEmail" name="username" placeholder="Username" required="" autofocus="">
                <input type="password" name="password" id="inputPass" class="form-control mb-3" placeholder="Password" required="">
                <button class="btn btn-lg btn-primary btn-block mb-4" type="submit">Sign in</button>
                {% if form.errors %}
                    <div class="alert alert-danger" role="alert">
                        Incorrect username or password.
                    </div>
                {% endif %}
            </form>
        </div>
    </div>

{% endblock content %}