<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    {% if user.is_authenticated %}
        <meta http-equiv="REFRESH" content="0;url=/">
    {% endif %}

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'reports/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'auth/login.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/lato.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/merriweather.css' %}">
</head>
<body class=login-background>

<div class="login-body">
    <p class="login-title">Login</p>
    <form method="post" class="text-content">
        {% csrf_token %}
        {#            {{ form.as_p }}#}
        <input type="input" class="form-control login-form" name="username" id="inputEmail" placeholder="Username"
               required>
        <br>
        <input type="password" class="form-control login-form" name="password" id="inputPass" placeholder="Password"
               required>
        <br>
        <button type="submit" class="login-button">Login</button>

        <div class="form-error">
            {% if form.errors %}
                Incorrect username or password.
            {% endif %}
        </div>
    </form>
</div>

</body>
</html>