<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <link rel="stylesheet" href='{% static 'page/styles.css' %}'>

    <meta charset="UTF-8">
    <title>{{ SITE_NAME }}: Password Change Success!</title>

    {% if user.is_authenticated %}
        <meta http-equiv="REFRESH" content="0;url=/auth/{{ user.id }}">
    {% else %}
        <meta http-equiv="REFRESH" content="0;url=/auth/login">
    {% endif %}
</head>

<body>

<div class="mdl-layout mdl-js-layout">
    {% include '_menu_bar.html' %}
    <main class="mdl-layout__content">
        <br>
        <br>
        <br>
        <br>
        <br>

        <div class="mdl-grid" style="text-align: center">
            <div class="mdl-cell mdl-cell--12-col" style="display: inline-block">
                Password Change Successful. You will now be redirected back to your account page.
            </div>
        </div>
    </main>
    {% include '_footer.html' %}
</div>
</body>
</html>