{% extends 'base.html' %}

{% block title %}Change Password{% endblock title %}

{% block content %}

    <div class="container">
        <div class="container" style="max-width: 970px">
            <form method="post">

                {% csrf_token %}

                <h2 class="mb-3 text-center">Create Account</h2>

                <div class="form-group">
                    <label for="username" class="bmd-label-floating">Username</label>
                    <input class="form-control" type="text" name="username" autofocus required id="username">
                </div>

                <div class="form-group">
                    <label for="email" class="bmd-label-floating">Email Address</label>
                    <input class="form-control" type="text" name="email" required id="email">
                </div>

                <div class="form-group">
                    <label for="password1" class="bmd-label-floating">Password</label>
                    <input class="form-control" type="password" name="password1" required id="password1">
                    <small class="text-muted">Minimum of 8 characters.</small>

                </div>

                <div class="form-group">
                    <label for="password2" class="bmd-label-floating">Confirm Password</label>
                    <input class="form-control" type="password" name="password2" required id="password2">
                </div>


                <button type="submit" class="btn btn-primary btn-large btn-raised">
                    Create Account
                </button>

                {% if form.errors %}
                    <div class="alert alert-danger" role="alert">
                        {% for field in form %}
                            {% for error in field.errors %}
                                <p class="form-error">{{ error|escape }}</p>
                            {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            <p class="form-error">{{ error|escape }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </form>
        </div>
    </div>

{% endblock content %}


<form method="post" class="text-content">
    <form method="post" class="text-content">
        {% csrf_token %}
        <input class="mdl-textfield__input" id="username" name="username"
               placeholder="Username"
               required>
        <br>
        <input class="mdl-textfield__input" id="email" name="email"
               placeholder="Email"
               required>
        <br>
        <input class="mdl-textfield__input" type="password" name="password1" id="password1"
               placeholder="Password"
               required>
        <br>
        <input class="mdl-textfield__input" type="password" name="password2" id="password2"
               placeholder="Confirm Password"
               required>
        <br>
        <button type="submit"
                class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Create
            Account
        </button>

        <br>
        <br>
        <div>
            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <p class="form-error">{{ error|escape }}</p>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <p class="form-error">{{ error|escape }}</p>
                {% endfor %}
            {% endif %}
        </div>
    </form>
    <br>
</form>
</div>
</div>
</div>
<div class="mdl-cell mdl-cell--4-col">

</div>

<div class="mdl-cell mdl-cell--4-col">

</div>
<div class="mdl-cell mdl-cell--4-col">

</div>
<div class="mdl-cell mdl-cell--4-col">

</div>

</div>
</main>
{% include '_footer.html' %}
</div>
</body>
</html>