{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'page/header.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'fonts/lato.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'fonts/merriweather.css' %}">
<div class="header-bar">
    {% if user.is_authenticated %}
        {#        <a href="/">#}
        {#            <div class=header-button>Home</div>#}
        {#        </a>#}
        <a href="/reports">
            <div class=header-button>All Posts</div>
        </a>

        <a href="{% url 'new' %}">
            <div class=header-button>New Post</div>
        </a>

        <a href="/auth/logout">
            <div class=header-button>Logout ({{ user.username }})</div>
        </a>

    {% endif %}

    {% if messages %}
        <br>
        {% for message in messages %}
            {% if message.tags == 'error' %}
                <br>
                <div class="alert error">{{ message }}</div><br>
            {% else %}
                <br>
                <div class="alert">{{ message }}</div>
            {% endif %}

        {% endfor %}
    {% endif %}
</div>