{% extends 'base.html' %}

{% block title %}Home{% endblock title %}
{% block content %}

<div class="container text-center">

    <div class="jumbotron bg-muted">
        <h1 class="display-1">
            {{ SITE_NAME }}
        </h1>
    </div>

    <div class="container bg-dark pb-4 pt-4 mb-5">
        <h4 class="mb-3 text-white"> Schedule Future Posts </h4>

        <h4 class="mb-3 text-white"> Attach External Images </h4>

        <h4 class="mb-3 text-white"> Share to Specific People </h4>
    </div>

    <div class="card-deck mb3 text-center">
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal lead">Our Mission</h4>
          </div>
          <div class="card-body lead">
            To create a platform that anyone can post on, whether it be to a small group or to the world.
          </div>
        </div>

         <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal lead">Your Privacy</h4>
          </div>
          <div class="card-body lead">
            We take your privacy very seriously. With the latest <i>plaintext encryption</i>, your data is in good hands.
          </div>
        </div>


         <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal lead">Everyone's Platform</h4>
          </div>
          <div class="card-body lead">
            We allow all different types of posts, from small discussions to sharing creations and media.
          </div>
        </div>

    </div>

</div>
{% endblock %}