<!DOCTYPE html>
<html lang="en">
<head>
    {#Redirect To Login Page If Not Logged In Already#}
    {% if not user.is_authenticated %}
       <meta http-equiv="REFRESH" content="0;url=auth/login">
    {% endif %}
    <meta charset="UTF-8">
    <title>Cody Richter: Root Navigation</title>
</head>
<body>
    {% include '_header.html' %}

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}



    <p>Reports: <a href="reports">[Here]</a> </p>
</body>
</html>